.book-page-buttons{   
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}


@media (max-width: 750px) {
  
    .book-page-buttons{   
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    #buttonsFlex{
        display: flex;
        flex-direction: column;
    }
  
}
.book-page-buttons button{
    margin: 1rem;
}
#buyButton{
    width: 85%;
}
#favButton{
    width: 85%;
}
#favButton:hover{
    background-color: rgb(211, 153, 66);
}
#readButton:hover{
    background-color: rgb(230, 44, 44);
}
#wantedButton:hover{
    background-color: rgb(230, 44, 44);
}
#buyButton:hover{
    background-color: rgb(55, 60, 204);
}
#slopeButton:hover{
    background-color: rgb(98, 197, 130);
}
.credit-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.success, .failure {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    margin: auto;
}