<div class="book-page-buttons">
    <div *ngIf="!this.user; else showButtons">
       <p>Inicie sesión para ver más opciones</p> 
        <p (click)="navigateLogin()">Iniciar sesión</p>
    </div>
    <ng-template #showButtons> 
        <!-- //Libro adquirido -->
        <div style="display:flex" id="buttonsFlex" *ngIf="this.acquired; else buyButtons">
            
            <div  *ngIf="this.favorite; else deleteFav">
                <button mat-raised-button id="favButton" (click) ="addFavorite()">Añadir a favorito <mat-icon>star</mat-icon> </button>
                        
            </div> 
            <ng-template #deleteFav>
                <button mat-raised-button id="favButton" (click)="removeFavorite()"> Eliminar de Favorito<mat-icon>favorite_border</mat-icon></button>         

            </ng-template>
            <div  *ngIf="this.slopes; else deleteSlopes">
                <button mat-raised-button id="slopeButton" (click) ="addSlopes()">Añadir a pendientes <mat-icon>alarm</mat-icon> </button>
                        
            </div> 
            <ng-template #deleteSlopes>
                <button mat-raised-button id="slopeButton" (click)="removeSlope()"> Eliminar de pendientes<mat-icon>alarm</mat-icon></button>         

            </ng-template>

            <button mat-raised-button id="readButton" (click) ="goPdf()">Leer libro <mat-icon>book</mat-icon></button>         
        </div>
        <!-- //Libro no adquirido -->
        <ng-template  #buyButtons>
            <div id="buttonsFlex" >
                <button mat-raised-button id="buyButton" (click) ="makePayment(book.price!*10)">Comprar <mat-icon>shop</mat-icon> </button>
                
                <div  *ngIf="this.wanted; else deleteWanted">
                    <button mat-raised-button id="wantedButton" (click) ="addWanted()"> Añadir a lista deseo<mat-icon>favorite_border</mat-icon></button>        
                        
                </div> 
                <ng-template #deleteWanted>
                    <button mat-raised-button id="wantedButton" (click)="removeWanted()"> Eliminar de lista de deseo<mat-icon>alarm</mat-icon></button>         

                </ng-template>
            </div>

          
            
        </ng-template>
        
    </ng-template>

      
</div>