<div class="componentcontainer">
    <div class="container">
        <div class="header">
            <h2>Inicio sesion</h2>
        </div>

       
        <form action="">
    
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" 
                       matInput  
                       placeholder="example@example.com">         
            </mat-form-field>

             <mat-form-field class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input type="password" 
                       matInput  
                       >         
             </mat-form-field>
             <button mat-raised-button color="primary">Primary</button>
        </form>
    </div>
</div>
