.componentcontainer{   
    height: 90%;
    display: flex;        
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    background: white;
    border-radius: 8px;          
    -webkit-box-shadow: inset -10px -10px 18px -11px rgba(0,0,0,0.65);
    -moz-box-shadow: inset -10px -10px 18px -11px rgba(0,0,0,0.65);
    box-shadow: inset -10px -10px 18px -11px rgba(0,0,0,0.65);
    display: flex;        
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    padding-top: 0;
}
.verifyContainer{    
    padding: 5% ;
}
form{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}
.header{
    background-color: #3f51b5;
    width: 100%;
    padding-top: 4%;
    border-radius: 8px 8px 0 0;
    display: flex;        
    justify-content: center;
    align-items: center;
    color: white;
}

::ng-deep .mat-focused .mat-label .mat-form-field-label {
    color: #1a1a1a !important;
}
::ng-deep.mat-form-field-underline {
  background-color: #1a1a1a !important;
}   
::ng-deep.mat-form-field-ripple {   
   background-color:#3f51b5 !important;;
}
mat-label, input, mat-icon{
    color: black;
}
.mat-raised-button.mat-button-disabled {
    color: #cac9c9 !important;
    background-color:#7b84b8 !important;  
}      
mat-form-field{
    margin-bottom: 10px;
}
.formGrid {
    display: flex;
    flex-direction: column;    
    margin-bottom: 5%;
}
button{
    width: 100%;
    margin-bottom: 1%;
}
span{
    margin-top: 0.5rem;
    align-self: center;
    color: slategray;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: #3f51b5;       
}
.mat-dialog-actions{
    align-items: center !important;
    justify-content: center !important;
}
