.example-container {
    width: 100%;
    
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  ::ng-deep .mat-sidenav-container{
    height: 100vh !important;
  }

  