
<mat-card class="errorContainer">
    <mat-card-title class="header">Oops!</mat-card-title>
    <div class="mat-card-subtittle-image">
        <mat-card-subtitle>Error 404!</mat-card-subtitle>
        <img mat-card-image src="../../../assets/caratriste.png" alt="sad face">
    </div>
    
    <mat-card-content>
        <p>No hemos podido encontrar la pagina que buscabas</p>
    </mat-card-content>
    <div class="card-button">
        <button mat-raised-button
                color="primary"
                (click)="goHome()">
                Volver a un lugar seguro
        </button>  
    </div>
        
    
</mat-card>
 