.catalogContainer{
    background-color: rgba(255, 255, 255, 0.553);    
    width: 90%;
    margin: auto;
    margin-top:3%;
    margin-bottom:20px;
    padding: 2%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
  }
  .catalog-grid{
    display: grid;
    gap: 2rem;    
    grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));          
  }

  .catalog-item{    
    margin: auto;
    margin-top: 0;
  }
  .feature{
    grid-column: span 2;      
  }
  .searchForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin: auto;
  }
  
  button{
    margin-left: 20px;
  }
  .searchInput{
    width: 60%;
  }
  button{
    width: 25%;
  }
  form{
    width: 100%;
    margin: auto;
  }
  
  ::ng-deep .mat-focused .mat-label .mat-form-field-label {
    color: #1a1a1a !important;
  }
  ::ng-deep.mat-form-field-underline {
    background-color: #1a1a1a !important;
  }   
  ::ng-deep.mat-form-field-ripple {   
    background-color:#3f51b5 !important;;
  }
  mat-label {
    color: #1a1a1a;
  }
  .emptyListClass{
    display: flex;
    background-color: rgba(255, 255, 255, 0.553); 
    width: 90%;
    margin: auto;
    width: 90%;
    margin-top:3%;
    color:rgb(0, 0, 0);
    border-radius: 2rem;  
    padding: 1%;
  }
  .emptyListClass h1{
    margin: auto;
    font-size: xx-large;
  }