.book-info-container{
   display: flex;
   flex-direction: column;   
    background:url("../../../../assets/backgroundBookPage-movil.svg") no-repeat;
    border-radius:20px 20px 0 0 ;    
} 
.book-page-info{
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: larger;
    margin: auto;
    margin-top: 30px;
}
@media (min-width: 750px) {
    .book-info-container{  
        display: grid;
        grid-template-columns: repeat(2, 1fr,);
        grid-template-rows: repeat(50px, 1fr,1fr,20px);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background:url("../../../../assets/backgroundBookPage.svg") no-repeat center center ;
    }
    .book-page-info{
        margin-top: 0;
    }

}
.book-page-tittle{
    grid-area: 1 / 1 / 2 / 3; 
    display: flex;
    justify-content: center;
    margin-top:20px ;
}
.book-page-tittle h1{
    text-align: center;
    font-size: xx-large;
}
.book-page-img{
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    max-height: 500px;
}
.book-page-img img{
   justify-self: center;
    width: 180px;
    height:300px;
    -webkit-box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
}


.book-page-abstract{
    grid-area: 3 / 1 / 4 / 3;
    padding: 5%;
    padding-bottom: 1%;
}
.book-page-categories-item{
    margin-left: 1rem;
}
.reportBook{
    grid-area: 4 / 1 / 5 / 2;
    display: flex;    
}
.reportBook h3,mat-icon{
    vertical-align: middle;
    cursor: pointer;
    margin-left: 5px;
}
.table-info{
     grid-area: 1 / 1 / 3 / 2; 
}
.reportForm{
    display: flex;
    flex-direction: column;
}
