<div class="catalog-container">
    <h1>Comprueba nuestro catalogo</h1>
    <div class="catalog-container-grid">
        <div class="catalog-container-info">
            <div class="catalog-container-info-item" >
                <h3>Más de 50 autores</h3>
            </div>
            <div class="catalog-container-info-item" >
                <h3>Más de 100 libros</h3>
            </div> 
           
            <div class="catalog-container-info-item" >
                <h3>Más de 50 libros gratuitos</h3>
            </div>
            
        </div>
        
        <div class="catalog-window" >            
            <app-catalog-home></app-catalog-home>          
        </div>      
    </div>   
</div>
<div class="transicionLanding"></div>