
.catalog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3%; 
    max-width: 100%;
}
.catalog-container-grid{
    display: flex;
    flex-direction: column;
    width:100%;
}
::-webkit-scrollbar {display: none;}
.catalog-container h2{
    font-size: large; 
    color: white;        
    justify-self: center;  
    margin:auto ;
    width:100%;
     
}
h1{
    font-size: large;
    margin: 1rem;
    color: white;
}
.catalog-window{
    grid-area: 1 / 1 / 3 / 4;     
    width: 100%;   
    margin: 2%;   
    height: 500px;
    width: 100%;
    overflow: scroll;
}
iframe{
    border-radius:2%;
    
}
.catalog-container-info{        
    margin: 0;
    width: 100% !important;
    display: flex;
    flex-direction: column;
}
.catalog-container-info-item{
        
    border-radius:  20rem;
    background-color:white;
    padding:4%;
    margin: 1rem;
    
    -webkit-box-shadow: 13px 13px 11px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 13px 11px -11px rgba(0,0,0,0.75);
    box-shadow: 13px 13px 11px -11px rgba(0,0,0,0.75);
}
h3{
    font-size: large;
    text-align: center;   
}
.transicionLanding{
    
    max-width: 100%;
    min-height: 100px;
    background:url("../../../../assets/transicion-landing1.svg") no-repeat center center ;
}
app-catalog-home{
    border-radius: 5%;
}
@media (min-width: 750px) {
    .catalog-container-grid{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }   
    .catalog-container h2{
        font-size: xx-large;
        color: white;        
        justify-self: center;  
        margin:auto 
         
    }
    .catalog-container-info{    
        grid-area: 1 / 5 / 3 / 8; 
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .catalog-window{
        grid-area: 1 / 1 / 3 / 4;     
        width: 100%;   
        margin: 2%;   
     
    }
 
    h3{
        font-size: x-large;
        text-align: center;   
    }
    
    .catalog-container-info-item{
        
        border-radius: 20rem 0px 0px 20rem;
        background-color:white;
        padding:7%;
        margin: 1rem;
        margin-right: 0;
        float:right;
        align-self: flex-end;
        -webkit-box-shadow: 13px 13px 11px -11px rgba(0,0,0,0.75);
        -moz-box-shadow: 13px 13px 11px -11px rgba(0,0,0,0.75);
        box-shadow: 13px 13px 11px -11px rgba(0,0,0,0.75);
    }
    
    .catalog-container-info-item:nth-child(1){
        width: 50%;
    }
    .catalog-container-info-item:nth-child(2){
        width: 62%;
    }
    .catalog-container-info-item:nth-child(3){
        width: 75%;
    }
    .transicionLanding{
       
        max-width: 100%;
        min-height: 200px;
        background:url("../../../../assets/transicion-landing1.svg") no-repeat center center ;
    }
    
    h1{
        font-size: 400%;
        margin: 1rem;
        color: white;
    }
}