.profile-container {
    width: 100%;
    height: 100%;
    
  }
  

::ng-deep .mat-drawer-container { background: none; }
  
.sidenav {
  padding: 20px;
}

.componentcontainer{   
  height: 92%;
  display: flex;        
  justify-content: center;
  align-items: center;
  flex-direction: row;
   
}
mat-icon{
  vertical-align: middle;
}

a{
  color: white;
  text-decoration: none;
  margin: 10px;     
  font-size:90% ; 
}


img{
  max-width: 50px;
  max-height: 50px;
  border-radius: 25px;
  margin-right: 10% ;
}

.closeSidenav{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.viewSidenav{
  width: 100%;
}

@media (min-width: 700px) {
.movileElement{
  display:none
}
}