.catalog-grid{
  display: grid;
  gap: 2rem;    
  grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
  background-color: rgba(255, 255, 255, 0.553);    
  width: 90%;
  margin: auto;
  margin-top:3%;
  padding: 2%;
  border-radius: 2rem;
}
.tittle-grid{
  display: grid;
  background-color: rgba(255, 255, 255, 0.553); 
  width: 90%;
  margin: auto;
  width: 90%;
  margin-top:3%;
  color:rgb(32, 44, 169);
  border-radius: 2rem;
  font-size: xx-large;
  padding: 1%;
  margin-bottom:20px;

}
.tittle-grid h1{
  margin: auto;
  font-size: xx-large;
}
.catalog-item{
  
  margin: auto;
  margin-top: 0;
}
.feature{
  grid-column: span 2;    
}
.emptyListClass{
  display: grid;
  background-color: rgba(255, 255, 255, 0.553); 
  width: 90%;
  margin: auto;
  width: 90%;
  margin-top:3%;
  color:rgb(0, 0, 0);
  border-radius: 2rem;  
  padding: 1%;
}
.emptyListClass h1{
  margin: auto;
  font-size: xx-large;
}