<table>
    <tr>      
      <th>Asunto</th>
      <th>Mensaje</th>
      <th>Acción</th>
      
    </tr> 
       
     <tr *ngFor="let item of items">
      
            <td>{{item.Subject}}</td>
            <td>{{item.Data}} </td>
            <td >
                <button (click)="deleteMessage(item.eventId!)"
                        mat-raised-button
                        color="warn">
                        Eliminar
                </button>
            </td>
           
    
        </tr>                   
</table>
<div *ngIf="items.length==0">
    <h1>No hay mensajes</h1>
</div>