a{
  color: white;
  text-decoration: none;
  margin: 10px;     
  font-size:60% ; 
}
@media (min-width: 700px) {
  a{
      color: white;
      text-decoration: none;
      margin: 10px;     
      font-size:x-large ; 
  }
}
  .example-spacer {
    flex: 1 1 auto;
  }
  mat-toolbar{
    position: fixed;
  }