 <mat-toolbar>
 
  <span><a routerLink='/'> Inicio </a></span>  
  <span><a routerLink='/catalog'> Catalogo </a></span>    
  <div *ngIf="userLogged" >
    <span><a routerLink='/mylibrary'> Mi biblioteca </a></span>   
  </div>     
  
  <span class="example-spacer"></span>  
    
  <div *ngIf="userLogged; else notLogged" >
    <span><a routerLink='/profile'> {{this.userName}}</a></span>  
  </div>
  <ng-template #notLogged>
    <span><a routerLink='/auth/login'> Login</a></span>      
    <span><a routerLink='/auth/register'> Register</a></span>    
  </ng-template>    
</mat-toolbar> 