 <mat-toolbar>
  <mat-icon (click)=goHome() style="cursor: pointer;">home</mat-icon>
  <span><a routerLink='/'> Inicio </a></span>      
  
  <span class="example-spacer"></span>  
    
  <div *ngIf="isLogged(); else notLogged" >
    <span><a href="#" (click)="logout()">Logout</a></span>
    <span> {{this.userEmail}}</span>
  </div>
  <ng-template #notLogged>
    <span><a routerLink='/auth/login'> Login</a></span>      
    <span><a routerLink='/auth/register'> Register</a></span>    
  </ng-template>    
</mat-toolbar> 