a{
  color: white;
  text-decoration: none;
  margin: 10px;     
  font-size:60% ; 
}
mat-icon {
  vertical-align: middle;
  display: none;
}
@media (min-width: 700px) {
  a{
      color: white;
      text-decoration: none;
      margin: 10px;  
      font-size:x-large;   
      
  }
  mat-icon{
    display: inline-block;
  }
}
  .example-spacer {
    flex: 1 1 auto;
  }
  
  