 <mat-toolbar>
 
  <span class="hover-underline-animation" ><a routerLink='/'> Inicio </a></span>  
  <span class="hover-underline-animation" ><a routerLink='/catalog'> Catalogo </a></span>    
   
  <div *ngIf="userLogged" >
    <span class="hover-underline-animation" ><a routerLink='/mylibrary'> Mi biblioteca </a></span>

    <span *ngIf="admin.rol" class="hover-underline-animation" ><a routerLink='/adminPanel'> Admin Panel </a></span>   

  </div>     
   
  <span class="example-spacer"></span>  
    
  <div *ngIf="userLogged; else notLogged" >
    <span class="hover-underline-animation"><a routerLink='/profile/info'> <mat-icon> person</mat-icon> Perfil</a></span>  
  </div>
  <ng-template #notLogged>
    <span class="hover-underline-animation"><a routerLink='/auth/login'><mat-icon> person</mat-icon>Login</a></span>      
    <span class="hover-underline-animation"><a routerLink='/auth/register'><mat-icon>how_to_reg</mat-icon> Registrarse</a></span>    
  </ng-template>    
</mat-toolbar> 