<div class="tittle-grid">
    <h1><b>Mis Libros Adquiridos </b> </h1>
</div>

<div class="catalogContainer">
    <div  class="catalog-grid" *ngIf="items.length > 0; else emptyList" >
    
        <div class= "catalog-item" *ngFor="let item of items">        
            <app-bookcard class= "feature" 
                          [book]="item">  
            </app-bookcard>
        </div>
    </div>
    <ng-template   #emptyList>
        <div  class="emptyListClass">
            <h1>No hay libros en tu biblioteca</h1>
        </div>           
    </ng-template>

</div> 