<div class="componentcontainer">
    <div class="container">       
        
        <div class="header">
            <h2>Registro</h2>
        </div>  
        

        <form   [formGroup]="registerForm"
                (ngSubmit)="register()">   
            <div class="formGrid">
                <div class="div1">
                    <img src="{{ this.imgURL }}" alt="User Placeholder" >
                   
                    <button type="button" 
                            mat-raised-button 
                            color="primary"
                            (click)="fileInput.click()">
                            <mat-icon matPrefix> image </mat-icon> 
                            Subir imagen
                    </button>
                    <input  hidden                             
                            #fileInput
                            (change)="uploadFile($event)"                             
                            type="file" 
                            accept="image/png, image/jpg, image/jpeg"
                            id="file"> 
                    
                    
                </div>
                <div class="div2">
                    <mat-form-field class="example-full-width">
                        <mat-label> 
                            <mat-icon matPrefix> email </mat-icon> 
                            Correo electrónico
                        </mat-label>
                        <input  type="email" 
                                formControlName=email  
                                autocomplete="on"            
                                matInput>         
                        <mat-error *ngIf="validezCampo('email')">Introducir un correo valido</mat-error>
                    </mat-form-field>
    
                    
                    <mat-form-field class="example-full-width">                
                        <mat-label> 
                            <mat-icon matPrefix> person_outline </mat-icon> 
                            Nombre de usuario
                        </mat-label>
                        <input  type="text"
                                formControlName='username'
                                autocomplete="on" 
                                matInput>  
                        <mat-error *ngIf="validezCampo('username')">Campo requerido</mat-error>                     
                    </mat-form-field>              
                </div>


                <div class= "div3">                    
                    
        
                    <mat-form-field class="example-full-width">                
                        <mat-label> 
                            <mat-icon matPrefix> lock </mat-icon> 
                            Contraseña
                        </mat-label>
                        <input  [type]="showPasswd ? 'password' : 'text'" 
                                formControlName='passwd'  
                                autocomplete="on"
                                matInput> 
                        <mat-icon matSuffix (click)="showPasswd = !showPasswd">{{showPasswd ? 'visibility_off' : 'visibility'}}</mat-icon>        
                        <mat-error *ngIf="validezCampo('passwd')">Campo requerido</mat-error>                                         
                    </mat-form-field>
                    
                    <mat-form-field class="example-full-width">                
                        <mat-label> 
                            <mat-icon matPrefix> lock </mat-icon> 
                            Repetir Contraseña
                        </mat-label>
                        <input  [type]="showPasswd ? 'password' : 'text'" 
                                autocomplete="on"
                                formControlName='passwdConfirm'   
                                matInput>
                        <mat-icon matSuffix (click)="showPasswd = !showPasswd">{{showPasswd ? 'visibility_off' : 'visibility'}}</mat-icon>        
                        <mat-error *ngIf="validezCampo('passwdConfirm')">Campo requerido</mat-error>   
                    </mat-form-field>

                    <mat-error *ngIf="matchPasswd()">Las contraseñas deben coincidir</mat-error> 
                </div>
            </div>
            <div>
                <button mat-raised-button 
                        type="submit"
                        color="primary"
                        [disabled]="registerForm.invalid">
                    Registrarse en OnlinEbook
                </button>
                

            </div>
            <span> ¿Ya tienes una cuenta? <a routerLink='/auth/login'>Inicia sesión</a></span>
            
        </form>
       
    </div>

     
</div>
