.landing-login-container{
    background:url("../../../../assets/pexels-andrea(3).jpg") no-repeat center center ;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 0 40%  ;
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;    
    padding: 2%;
}

.div1 h2{
    font-size:xx-large
}
.div1{
    grid-area: 1 / 3 / 2 / 4; 
    color: #3f51b5ff
    
}
.div3{
    grid-area: 2 / 3 / 4 / 4;
}
.div2{
    display: none;
}

@media (min-width: 700px) {
    .landing-login-container{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;    
        padding: 2%;
    }
    img{
        max-width: 300px;
    }
    
    .div2 { 
        grid-area: 2 / 1 / 5 / 2;
        justify-content: center;
        align-items: center;
       
     }
    
    .div3 { grid-area:  2 / 6 / 5 / 7; }
    .div1 { grid-area: 1 / 4 / 2 / 7;
            color: #3f51b5ff
    }
    
}
