
<div *ngIf="comment && user">
    <div class="comment_container">
        <div class="comment_header">
            <div  class="comment_header_userInfo" >
                <img [src]="user.img" alt="">
                <h1>{{user.userName}}</h1>
            </div>           
        </div>
        <div class="comment_msg">
            <span>{{comment.msg}}</span>

        </div>
        <div class="comment_footer">
            <div class="comment_footer_icons" >
                <div style="display: flex; ">
                <div class="like-icon" *ngIf="mylike, else nolike">
                    <span id="likes" (click)="removeLike()"> <mat-icon>thumb_up </mat-icon> <h4>{{this.likesCounter}} likes</h4></span>
                </div>
                <ng-template #nolike>
                    <span id="likes" (click)="addLike()"> <mat-icon>thumb_up_off_alt</mat-icon> <h4>{{this.likesCounter}} likes</h4></span>
                </ng-template>               
                <div class="like-icon">
                    <span id="likes" (click)="reportComment()"> <mat-icon>report_problem </mat-icon> <h4>Reportar</h4></span>
                </div>
            </div>
                <div class="like-icon" *ngIf="comment.userId == localuser.uid">
                    <span id="likes" (click)="deleteComment()"> <mat-icon>delete </mat-icon> <h4>Borrar</h4></span>
                </div>
            </div>           
        </div>
    </div>    
</div>