
<div class= 'footer'>
    <div class="footer-link">
        <a class="hover-underline-animation" (click)="dialogAbout()"> Sobre OnlinEbook </a>
        <a class="hover-underline-animation" (click)="dialogTerms()"> Terminos de usos </a>
        <a class="hover-underline-animation" (click)="dialogContact()"> Contactanos </a>
 
    </div>
    <div class="footer-social-buttons">
        <span>Siguenos en:</span>
        <span>
            <a href="https://www.facebook.com/OnlinEbook-104168528964868" target="_blank" id="fb-icon" class="fa fa-facebook"></a>
            <a href="https://twitter.com/OnlineEbook2022" target="_blank" id="tw-icon" class="fa fa-twitter"></a>          
            <a href="https://www.instagram.com/onlinebook_oficial/" target="_blank" id="ig-icon" class="fa fa-instagram"></a>
            <a href="https://github.com/Rubenmt93/OnlinEbook" target="_blank" id="gh-icon" class="fa fa-github"></a>
         
        </span>
    </div> 
    
</div>

