.footer {       
    bottom: 0;   
    max-width: 100%;
    background-color: #212121ff;
    clear:both;    
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .footer-social-buttons a{
    font-size: xx-large;
    color: white;
    text-decoration: none;
    margin: 10px;    
  }
  .footer-social-buttons{
    grid-area: 1 / 2 / 2 / 3;
    color: white;
    display: flex;    
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
  #fb-icon:hover{
    color: #3b5998ff;
  }
  #tw-icon:hover{
    color:#55aceeff;
  }
  #gl-icon:hover{
    color: #dd4b39ff;
  }
  #lk-icon:hover{
    color: #007bb5ff;
  }
  #ig-icon:hover{
    color: #f40083ff;
  }
  #gh-icon:hover{
    color: rgb(77, 77, 77);
  }
  .footer-link{
    grid-area: 1 / 1 / 2 / 2; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-link  a{
    color: white;
    text-decoration: none;
    font-size: larger;
    margin: 10px;
    margin-left: 20px;
  }
  
  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }