
<div class= 'footer'>
    <div class="footer-link">
        <a class="hover-underline-animation" routerLink='/mylibrary'> Sobre OnlinEbook </a>
        <a class="hover-underline-animation" routerLink='/mylibrary'> Terminos de usos </a>
        <a class="hover-underline-animation" routerLink='/mylibrary'> Contactanos </a>
 
    </div>
    <div class="footer-social-buttons">
        <span>Siguenos en:</span>
        <span>
            <a href="#" id="fb-icon" class="fa fa-facebook"></a>
            <a href="#" id="tw-icon" class="fa fa-twitter"></a>
            <a href="#" id="gl-icon" class="fa fa-google"></a>
            <a href="#" id="lk-icon" class="fa fa-linkedin"></a>
            <a href="#" id="ig-icon" class="fa fa-instagram"></a>
            <a href="#" id="gh-icon" class="fa fa-github"></a>
         
        </span>
    </div> 
    
</div>

