<div class="catalogContainer">
    <div class="searchForm">
        <form   [formGroup]="searchForm"
                (ngSubmit)="searchResult()">  
            <div>
                <mat-form-field class="searchInput">
                    <mat-label> 
                        <mat-icon matPrefix> search </mat-icon> 
                        Buscar...
                    </mat-label>
                    <input type="text"                 
                           matInput
                           formControlName='busqueda'                        
                           placeholder="Buscar ...">         
                   
                </mat-form-field>
                <!-- <mat-form-field appearance="fill" class="reportFormList">                    
                <mat-label class="reportFormList">Motivos de Reporte</mat-label>
                <mat-select                 
                    formControlName='list'
                    multiple>
                    <mat-option *ngFor="let reason of categoriasList" [value]="reason">{{reason}}</mat-option>
                </mat-select>
            </mat-form-field> -->
            <button mat-raised-button 
                color="primary"
                type="submit">
               
                Buscar
            </button>
        </div>
   
    </form>
</div>

    <div  class="catalog-grid" >      
      
        <div class= "catalog-item" *ngFor="let item of items">  
             
            <app-bookcard class= "feature" 
                          [book]="item">  
            </app-bookcard>
      
        </div>
    </div>

</div>