<div class="catalogContainer">
    <div class="searchForm">
        <form   [formGroup]="searchForm"
                (ngSubmit)="searchResult()">  
            <div>
                <mat-form-field class="searchInput">
                    <mat-label> 
                        <mat-icon matPrefix> search </mat-icon> 
                        Buscar...
                    </mat-label>
                    <input type="text"                 
                           matInput
                           formControlName='busqueda'                        
                           placeholder="Buscar ...">         
                   
                </mat-form-field>               
                <button mat-raised-button 
                        color="primary"
                        type="submit">
               
                        Buscar
                </button>
            </div>
   
        </form>
    </div>

    <div  class="catalog-grid" >    
        <div class= "catalog-item" *ngFor="let item of items"> 
            <app-bookcard class= "feature" 
                          [book]="item">  
            </app-bookcard>      
        </div>
    </div>
    <div class="paginacionDiv">
        <div class="prePag" (click)="prePag()">
           <mat-icon>keyboard_arrow_left</mat-icon>  Pagina anterior
        </div>
        <div class="nextPag" (click)="nextPag()">
            Pagina siguiente <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
    </div>

</div>