<div  class="componetContainer">
    <div class="book-page-grid">
        <div class="book-page-tittle"> <h1>{{book.name}}</h1></div>
        <div class="book-page-img">
            <img src={{book.img}} alt="img-book">            
        </div>
        <div class="book-page-info">
           <span> <b>Autor:</b> {{book.author}}</span>
           <span> <b>Isbn:</b> {{book.isbn}}</span>
           <span><b>Year:</b>{{book.year}}</span>
           <span><b>Categorias:</b></span>
            <div class="book-page-categories-item" *ngFor="let item of book.categories">
                  {{item|titlecase}}
            </div>
            <span><b>Precio:</b>{{book.price}}</span>
        </div>
        <div class="book-page-abstract">
            <h3>{{book.abstract}}</h3>
        </div>
       
        <div class="book-page-buttons">
            <div *ngIf="!this.userLogged; else showButtons">
                Inicie sesión para ver más opciones
            </div>
            <ng-template #showButtons>
                <div *ngIf="this.bought; else buyButtons">
                    <button mat-raised-button>Añadir a favorito <mat-icon>star</mat-icon> </button>
                    <button mat-raised-button (click) ="goPdf()">Leer libro <mat-icon>book</mat-icon></button>         
                </div>
                <ng-template #buyButtons>
                    <button mat-raised-button (click) ="buy()">Comprar <mat-icon>shop</mat-icon> </button>
                    <button mat-raised-button> Añadir a a lista deseo<mat-icon>favorite_border</mat-icon></button>         
                </ng-template>
            </ng-template>
        
              
        </div>
    </div>    
    
</div>