<div  class="componetContainer">
    <div class="book-page-grid">
        <app-book-info [book]="this.book"></app-book-info>
        <div *ngIf="active; else noActive">
            <app-book-page-buttons ></app-book-page-buttons>
            <hr>
            <app-comentarios-container></app-comentarios-container>
        </div> 
        <ng-template #noActive class="noValidate">
            <div class="noValidate">
                <p> Libro pendiente de validación</p>
                <button mat-raised-button id="readButton" (click) ="goPdf()">Leer libro <mat-icon>book</mat-icon></button>         
            </div>
            <div  class="noValidate" *ngIf="admin.rol==1">
                <button mat-raised-button id="readButton" (click) ="activateBook()">Activar Libro <mat-icon>check_circle_outline</mat-icon> </button>
            </div>         
        </ng-template>           
    </div>        
</div>